# Data Cleaning and Pre-Processing

Here, I loaded a module from the directory '../src' to make the more notebbok more wasier to understand.
Actually, I started off with all notebooks, but as i progressed through this project, I opensourced this project to github.
As a reult, this is still a project under progress, but it answers the basic questions. 
I am refactoring the code into a package in the src folder.

In [1]:
#Importing necessary modules from scripts
import sys
sys.path.append("../src")
from data_prep import load_datasets, drop_sparse_columns, merge_datasets, handle_missing_values, initial_eda, save_cleaned_data

In [2]:
# Load all datasets
df_features, df_sales, df_stores = load_datasets()

In [3]:
# Drop sparse columns from features
df_features = drop_sparse_columns(df_features, threshold=0.5)

Dropping sparse columns (columns that has more than 50% empty or NaN rows.

In [4]:
# Merge datasets
df_merged = merge_datasets(df_sales, df_stores, df_features)

In [5]:
# Save interim merged data for backup
df_merged.to_csv("../data/interim/merged_data.csv", index=False)

In [6]:
# Handle missing values
df_cleaned = handle_missing_values(df_merged)
df_cleaned.to_csv('../data/processed/cleaned.csv')

Merging, cleaning and saving the data

In [7]:
df_cleaned.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Type,Size,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday_y
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,211.096358,8.106,False
1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,211.242170,8.106,True
2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.514,211.289143,8.106,False
3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.561,211.319643,8.106,False
4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.625,211.350143,8.106,False

In [8]:
# Initial EDA
initial_eda(df_cleaned)

Shape: (421570, 12)

Data types:
 Store                    int64
Dept                     int64
Date            datetime64[ns]
Weekly_Sales           float64
IsHoliday_x               bool
Type                    object
Size                     int64
Temperature            float64
Fuel_Price             float64
CPI                    float64
Unemployment           float64
IsHoliday_y               bool
dtype: object

Description:
                 Store           Dept                           Date  \
count   421570.000000  421570.000000                         421570
unique            NaN            NaN                            NaN
top               NaN            NaN                            NaN
freq              NaN            NaN                            NaN
mean        22.200546      44.260317  2011-06-18 08:30:31.963375104
min          1.000000       1.000000            2010-02-05 00:00:00
25%         11.000000      18.000000            2010-10-08 00:00:00
50%         22.000000      37.000000            2011-06-17 00:00:00
75%         33.000000      74.000000            2012-02-24 00:00:00
max         45.000000      99.000000            2012-10-26 00:00:00
std         12.785297      30.492054                            NaN

         Weekly_Sales IsHoliday_x    Type           Size    Temperature  \
count   421570.000000      421570  421570  421570.000000  421570.000000
unique            NaN           2       3            NaN            NaN
top               NaN       False       A            NaN            NaN
freq              NaN      391909  215478            NaN            NaN
mean     15981.258123         NaN     NaN  136727.915739      60.090059
min      -4988.940000         NaN     NaN   34875.000000      -2.060000
25%       2079.650000         NaN     NaN   93638.000000      46.680000
50%       7612.030000         NaN     NaN  140167.000000      62.090000
75%      20205.852500         NaN     NaN  202505.000000      74.280000
max     693099.360000         NaN     NaN  219622.000000     100.140000
std      22711.183519         NaN     NaN   60980.583328      18.447931

           Fuel_Price            CPI   Unemployment IsHoliday_y
count   421570.000000  421570.000000  421570.000000      421570
unique            NaN            NaN            NaN           2
top               NaN            NaN            NaN       False
freq              NaN            NaN            NaN      391909
mean         3.361027     171.201947       7.960289         NaN
min          2.472000     126.064000       3.879000         NaN
25%          2.933000     132.022667       6.891000         NaN
50%          3.452000     182.318780       7.866000         NaN
75%          3.738000     212.416993       8.572000         NaN
max          4.468000     227.232807      14.313000         NaN
std          0.458515      39.159276       1.863296         NaN